@model CompetitiveProgrammingApp.Models.MitModel

<script src="~/scripts/jquery-1.11.3.js"></script>

<body>

    <p style="text-align:center;border:solid"><img id="title" src="~/images/Mit.png" style="width:300px;height:100px" /></p>


    <script type="text/javascript">
        $(document).ready(function () {


        });

    </script>

</body>
