@model CompetitiveProgrammingApp.Models.CoderbyteModel

<script src="~/scripts/jquery-1.11.3.js"></script>

<body>

    <p style="text-align: center; border: solid">
        <img id="title" src="~/images/Coderbyte.png" style="width: 300px; height: 100px" /></p>
    <div style="text-align: center; border: solid; font-size: 24px"><a href="http://coderbyte.com/">Coderbyte</a></div>


    <script type="text/javascript">
        $(document).ready(function () {


        });

    </script>

</body>
