<body>
    <script src="~/scripts/jquery-1.11.3.js"></script>
    <link href="~/css/general.css" rel="stylesheet" />

    <p id="competitive" style="text-align: center; font-size: 48px">Competitive Programming Beginner</p>
    <div id="competitiveProgramming">
        <input type="image" src="~/images/Hackerrank.png" id="hackerrank" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Topcoder.png" id="topcoder" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Codeforces.png" id="codeforces" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Codechef.png" id="codechef" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Coderbyte.png" id="coderbyte" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Leetcode.jpg" id="leetcode" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Codeeval.png" id="codeeval" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Hackerearth.png" id="hackerearth" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Uva.png" id="uva" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Codingame.png" id="codingame" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Codeschool.png" id="codeschool" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Spoj.png" id="spoj" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Codehunt.png" id="codehunt" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Checkio.png" id="checkio" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Empireofcode.png" id="empireofcode" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Programmr.png" id="programmr" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Codealike.png" id="codealike" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Codefight.png" id="codefight" style="text-align: center; border: solid; width: 300px; height: 100px" />
    </div>
    <p id="bugBounty" style="text-align: center; font-size: 48px">Bug Bounty Programs</p>
    <div id="bugBountyPrograms">
        <input type="image" src="~/images/Bugcrowd.png" id="bugcrowd" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Hackerone.png" id="hackerone" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Crowdcurity.png" id="crowdcurity" style="text-align: center; border: solid; width: 300px; height: 100px" />
    </div>
    <p id="security" style="text-align: center; font-size: 48px">Hacking/Security</p>
    <div id="securityReadings">
        <input type="image" src="~/images/Owasp.png" id="owasp" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Shodan.png" id="shodan" style="text-align: center; border: solid; width: 300px; height: 100px" />
    </div>
    <p id="courses" style="text-align: center; font-size: 48px">Courses websites</p>
    <div id="coursesWebsites">
        <input type="image" src="~/images/Pluralsight.png" id="pluralsight" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Coursera.png" id="coursera" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Codecademy.png" id="codecademy" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Mit.png" id="mit" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Edx.png" id="edx" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Udacity.png" id="udacity" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Udemy.png" id="udemy" style="text-align: center; border: solid; width: 300px; height: 100px" />
        <input type="image" src="~/images/Bigdatauniversity.png" id="bigdatauniversity" style="text-align: center; border: solid; width: 300px; height: 100px" />
    </div>


    <script type="text/javascript">
        $(document).ready(function () {

            // Competitive programming
            $('#hackerrank').click(function () {
                $('body').load('/Hackerrank/Index');
            });

            $('#topcoder').click(function () {
                $('body').load('/Topcoder/Index');
            });

            $('#codeforces').click(function () {
                $('body').load('/Codeforces/Index');
            });

            $('#codechef').click(function () {
                $('body').load('/Codechef/Index');
            });

            $('#coderbyte').click(function () {
                $('body').load('/Coderbyte/Index');
            });

            $('#leetcode').click(function () {
                $('body').load('/Leetcode/Index');
            });

            $('#codeeval').click(function () {
                $('body').load('/Codeeval/Index');
            });

            $('#hackerearth').click(function () {
                $('body').load('/Hackerearth/Index');
            });

            $('#uva').click(function () {
                $('body').load('/Uva/Index');
            });

            $('#codingame').click(function () {
                $('body').load('/Codingame/Index');
            });

            $('#codeschool').click(function () {
                $('body').load('/Codeschool/Index');
            });

            $('#spoj').click(function () {
                $('body').load('/Spoj/Index');
            });

            $('#codehunt').click(function () {
                $('body').load('/Codehunt/Index');
            });

            $('#checkio').click(function () {
                $('body').load('/Checkio/Index');
            });

            $('#empireofcode').click(function () {
                $('body').load('/Empireofcode/Index');
            });

            $('#programmr').click(function () {
                $('body').load('/Programmr/Index');
            });

            $('#codealike').click(function () {
                $('body').load('/Codealike/Index');
            });

            $('#codefight').click(function () {
                $('body').load('/Codefight/Index');
            });


            //Bug bounty programs
            $('#bugcrowd').click(function () {
                $('body').load('/Bugcrowd/Index');
            });

            $('#hackerone').click(function () {
                $('body').load('/Hackerone/Index');
            });

            $('#crowdcurity').click(function () {
                $('body').load('/Crowdcurity/Index');
            });


            //Security readings
            $('#owasp').click(function () {
                $('body').load('/Owasp/Index');
            });

            $('#shodan').click(function () {
                $('body').load('/Shodan/Index');
            });


            //Courses
            $('#pluralsight').click(function () {
                $('body').load('/Pluralsight/Index');
            });

            $('#coursera').click(function () {
                $('body').load('/Coursera/Index');
            });

            $('#codecademy').click(function () {
                $('body').load('/Codecademy/Index');
            });

            $('#mit').click(function () {
                $('body').load('/Mit/Index');
            });

            $('#edx').click(function () {
                $('body').load('/Edx/Index');
            });

            $('#udacity').click(function () {
                $('body').load('/Udacity/Index');
            });

            $('#udemy').click(function () {
                $('body').load('/Udemy/Index');
            });

            $('#bigdatauniversity').click(function () {
                $('body').load('/Bigdatauniversity/Index');
            });




            @*$('#topcoder').click(function () {
                $.ajax({
                    url: '@Url.Action("GetIntoTopcoder", "Home")',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                type: "post",
                success: function (homeModel) {
                    alert(homeModel['TopCoderSuccess'])
                },
                error: function () {
                    alert("error")
                }
            });*@
        });

    </script>
</body>
