@model CompetitiveProgrammingApp.Models.HackerrankModel

<script src="~/scripts/jquery-1.11.3.js"></script>

<body>

    <p style="text-align:center;border:solid"><img id="title" src="~/images/Hackerrank.png" style="width:300px;height:100px" /></p>
    <div style="text-align:center;border:solid"><a href="https://www.hackerrank.com/">HackerRank</a></div>


    <script type="text/javascript">
        $(document).ready(function () {


        });

    </script>

</body>
