@model CompetitiveProgrammingApp.Models.CodeforcesModel

<script src="~/scripts/jquery-1.11.3.js"></script>

<body>

    <p style="text-align:center;border:solid"><img id="title" src="~/images/Codeforces.png" /></p>


    <script type="text/javascript">
        $(document).ready(function () {


        });

    </script>

</body>
